<md-tab-group class="main">
  <md-tab>

    <ng-template md-tab-label>
      ACCUEIL
    </ng-template>

    <h2>Jean-Baptiste Charrier</h2>
    <h3>Développeur Front-End Javascript - .NET</h3>
    <div style="margin: 26px 0">
      <p style="margin: 0; font-style: italic">A la recherche d’opportunités challengeantes, au sein d’une équipe pour monter toujours plus en compétences, je souhaite m’investir pleinement sur un poste de développeur web front-end Javascript ou .Net. Je mettrai en oeuvre mes compétences pour planifier, réaliser et gérer l’implémentation de fonctionnalités pour vos applications ou vos sites web.</p>
    </div>
    <div>
      <h4>Mes spécialités</h4>
      <ul>
        <li>HTML5 - CSS3</li>
        <li>Javascript (ES6) - jQuery</li>
        <li>Framework Angular</li>
        <li>C# et Framework .Net</li>
      </ul>
    </div>
    <div>
      <h4>Autres outils</h4>
      <ul>
        <li>Git</li>
        <li>Sass</li>
        <li>GulpJS</li>
        <li>Bootstrap / Foundation / Angular Material</li>
      </ul>
    </div>
    <div class="social-medias">
      <h4>Retrouvez-moi aussi ici</h4>
      <span title="Twitter">
        <a href="https://twitter.com/jbcharrier" target="_blank">
          <img src="../../assets/img/logo_twitter.png" alt="logo twitter">
        </a>
      </span>
      <span title="Linkedin">
        <a href="https://www.linkedin.com/in/jean-baptiste-charrier/" target="_blank">
          <img src="../../assets/img/logo_linkedin.png" alt="logo linkedin">
        </a>
      </span>
      <span title="Github">
        <a href="https://github.com/jbcharrier" target="_blank">
          <img src="../../assets/img/logo_github.png" alt="logo github">
        </a>
      </span>
    </div>
    <div class="contact">
      <h4>Contact</h4>
      <div>
        <md-icon>email</md-icon>
        <span>jbcharrier@gmail.com</span>
      </div>
      <div>
        <md-icon>phone_android</md-icon>
        <span>06.67.51.62.42</span>
      </div>
      <div>
        <md-icon>location_on</md-icon>
        <span>Le Bouscat - Gironde (33)</span>
      </div>
    </div>
    <div class="g-signin2" data-onsuccess="onSignIn"></div>
  </md-tab>

  <md-tab>
    <ng-template md-tab-label>
      PARCOURS
    </ng-template>
    <md-card>
      <md-card-title>
        <span class="md-title">DÉVELOPPEUR FRONT ANGULAR 7 / </span>
        <span class="md-subhead">ENEDIS (Paris) - Février 2020 à aujourd'hui</span>

      </md-card-title>
      <md-card-content>
        <div>
          <span class="md-headline">Descriptif de la mission</span>
          <p class="md-subhead">Développement d’une application sous Angular 7 de gestion du réseau électrique Enedis</p>
        </div>
        <div>
          <span class="md-headline">Tâches effectuées</span>
          <ul>
            <li>
              <span>Développement de features de l'application avec Angular 7</span>
            </li>
            <li>
              <span>Développement d'une cartographie de réseau avec Openlayers 3</span>
            </li>
          </ul>
        </div>
        <div>
          <div class="md-headline chip">Environnement technique</div>
          <md-chip-list>
            <md-chip>Angular 7</md-chip>
            <md-chip>ng-Bootstrap</md-chip>
            <md-chip>Openlayers</md-chip>
            <md-chip>Git</md-chip>
            <md-chip>Linux</md-chip>
          </md-chip-list>
        </div>
      </md-card-content>
    </md-card>
    <md-card>
      <md-card-title>
        <span class="md-title">DÉVELOPPEUR FRONT ANGULAR 8 / </span>
        <span class="md-subhead">CNES (Bordeaux) - Septembre à décembre 2019</span>

      </md-card-title>
      <md-card-content>
        <div>
          <span class="md-headline">Descriptif de la mission</span>
          <p class="md-subhead">Développement d’une application sous Angular 8 de gestion d’un parc informatique pour le compte
            du CNES</p>
        </div>
        <div>
          <span class="md-headline">Tâches effectuées</span>
          <ul>
            <li>
              <span>Création de l’application from scratch.</span>
            </li>
            <li>
              <span>Développement de l’authentification et du routing de l’application.</span>
            </li>
            <li>
              <span>Rédaction de tests unitaires Jasmine et Karma.</span>
            </li>
          </ul>
        </div>
        <div>
          <div class="md-headline chip">Environnement technique</div>
          <md-chip-list>
            <md-chip>Angular 8</md-chip>
            <md-chip>ngx-Bootstrap</md-chip>
            <md-chip>ChartJS</md-chip>
            <md-chip>Karma</md-chip>
            <md-chip>Jasmine</md-chip>
          </md-chip-list>
        </div>
      </md-card-content>
    </md-card>
    <md-card>
      <md-card-title>
        <span class="md-title">DÉVELOPPEUR .NET CORE / </span>
        <span class="md-subhead">CDiscount (Bordeaux) - Mai à septembre 2019</span>

      </md-card-title>
      <md-card-content>
        <div>
          <span class="md-headline">Descriptif de la mission</span>
          <p class="md-subhead">Développement d’une application sous .Net Core de cagnotte / porte-monnaie électronique selon
            une architecture microservices</p>
        </div>
        <div>
          <span class="md-headline">Tâches effectuées</span>
          <ul>
            <li>
              <span>Création et rédaction de la conception technique des microservices.</span>
            </li>
            <li>
              <span>Développement des microservices de l’application.</span>
            </li>
            <li>
              <span>Rédaction de tests unitaires avec le framework xUnit et Moq.</span>
            </li>
          </ul>
        </div>
        <div>
          <div class="md-headline chip">Environnement technique</div>
          <md-chip-list>
            <md-chip>.Net Core</md-chip>
            <md-chip>C#</md-chip>
            <md-chip>XUnit</md-chip>
            <md-chip>Moq</md-chip>
          </md-chip-list>
        </div>
      </md-card-content>
    </md-card>
    <md-card>
      <md-card-title>
        <span class="md-title">DÉVELOPPEUR FRONT END / </span>
        <span class="md-subhead">DigitasLBI (Paris) - Mars 2017 à Juillet 2018</span>

      </md-card-title>
      <md-card-content>
        <div>
          <span class="md-headline">Descriptif de la mission</span>
          <p class="md-subhead">Développement d'une application web B to B e-commerce pour un acteur du secteur automobile</p>
        </div>
        <div>
          <span class="md-headline">Tâches effectuées</span>
          <ul>
            <li>
              <span>Développement front et intégration responsive web design.</span>
            </li>
            <li>
              <span>Travail organisé selon la méthodologie Agile.</span>
            </li>
          </ul>
        </div>
        <div>
          <div class="md-headline chip">Environnement technique</div>
          <md-chip-list>
            <md-chip>jQuery</md-chip>
            <md-chip>Javascript</md-chip>
            <md-chip>Bootstrap</md-chip>
            <md-chip>Gulp</md-chip>
            <md-chip>NPM</md-chip>
            <md-chip>Git</md-chip>
            <md-chip>Jira</md-chip>
          </md-chip-list>
        </div>
      </md-card-content>
    </md-card>
    <md-card>
      <md-card-title>
        <span class="md-title">DÉVELOPPEUR FRONT ANGULARJS / </span>
        <span class="md-subhead">YusoFleet (Paris) - Nov.2016 à Fév. 2017</span>

      </md-card-title>
      <md-card-content>
        <div>
          <span class="md-headline">Descriptif de la mission</span>
          <p class="md-subhead">Développement d’une application de gestion de courses véhiculées (VTC, livraison, ...) avec géolocalisation et en lien avec une API Rest.</p>
        </div>
        <div>
          <span class="md-headline">Tâches effectuées</span>
          <ul>
            <li>
              <span>Création du frontend avec Angular 1.6 pour la partie Livraison de l’application.</span>
            </li>
            <li>
              <span>Développement de la partie paiement de l’application avec Stripe et Adyen.</span>
            </li>
            <li>
              <span>Création des Wireframes et travail sur l’UX de l’application. Intégration avec Angular Material.</span>
            </li>
          </ul>
        </div>
        <div>
          <div class="md-headline chip">Environnement technique</div>
          <md-chip-list>
            <md-chip>AngularJS</md-chip>
            <md-chip>Javascript</md-chip>
            <md-chip>Angular Material</md-chip>
            <md-chip>Gulp</md-chip>
            <md-chip>NPM</md-chip>
            <md-chip>Adyen</md-chip>
            <md-chip>Stripe</md-chip>
            <md-chip>Git</md-chip>
          </md-chip-list>
        </div>
      </md-card-content>
    </md-card>

    <md-card class="bgd-silver">
      <md-card-title>
          <span class="md-title">DÉVELOPPEUR FRONT-END ANGULARJS / </span>
          <span class="md-subhead">Plüm Energie (Paris) - Juillet à Sept. 2016</span>
      </md-card-title>
      <md-card-content>
        <div>
          <span class="md-headline">Descriptif de la mission</span>
          <p class="md-subhead">Développement du site www.plum.fr, nouveau fournisseur d'énergie.</p>
        </div>
        <div>
          <span class="md-headline">Tâches effectuées</span>
          <ul>
            <li>
              <span>Développement de l'application web de suivi de consommation des clients.</span>
            </li>
            <li>
              <span>Développement de l'espace communauté du site.</span>
            </li>
            <li>
              <span>Adaptation responsive du site pour mobiles et tablettes.</span>
            </li>
            <li>
              <span>Méthode Agile.</span>
            </li>

          </ul>
        </div>
        <div>
          <div class="md-headline chip">Environnement technique</div>
          <md-chip-list>
            <md-chip>AngularJS</md-chip>
            <md-chip>Javascript</md-chip>
            <md-chip>Bootstrap</md-chip>
            <md-chip>Gulp</md-chip>
            <md-chip>NPM</md-chip>
            <md-chip>Sass</md-chip>
          </md-chip-list>
        </div>
      </md-card-content>
    </md-card>

    <md-card class="bgd-silver">
      <md-card-title>
        <span class="md-title">FORMATION AU FRAMEWORK ANGULAR JS ET À L’ÉCOSYSTÈME JS / </span>
        <span class="md-subhead">Digital & You (Paris) - Mai à Juin 2016</span>
      </md-card-title>
    </md-card>

    <md-card class="bgd-silver">
      <md-card-title>
          <span class="md-title">DÉVELOPPEUR PHP PRESTASHOP WP / </span>
          <span class="md-subhead">ScrollCom (Saint Quentin en Yvelines) - Avril - Mai 2016</span>
      </md-card-title>
      <md-card-content>
        <div>
          <span class="md-headline">Descriptif de la mission</span>
          <p class="md-subhead">Réalisation de prestations pour le compte de clients de l’entreprise : création de site internet, intervention de maintenance, intégration, etc.</p>
        </div>
        <div>
          <span class="md-headline">Tâches effectuées</span>
          <ul>
            <li>
              <span>Réalisation en wordpress d’une boutique de vente en ligne et site vitrine pour un créateur de sac à main ( http://www.laboutiquedamienbeal.com/ ) avec intégration du CSS, et personnalisation de modules et mise en place de la boutique (BDD, paiement en ligne, etc.)</span>
            </li>
            <li>
              <span>Travaux sur le site https://www.timdecomob.com/fr/ (Optimisation du SEO, intégration CSS, modifications du javascript)</span>
            </li>
          </ul>
        </div>
        <div>
          <div class="md-headline chip">Environnement technique</div>
          <md-chip-list>
            <md-chip>WordPress</md-chip>
            <md-chip>Prestashop</md-chip>
            <md-chip>Bootstrap</md-chip>
            <md-chip>HTML5</md-chip>
            <md-chip>CSS3</md-chip>
            <md-chip>SEO</md-chip>
          </md-chip-list>
        </div>
      </md-card-content>
    </md-card>

    <md-card class="bgd-silver">
      <md-card-title>
          <span class="md-title">DÉVELOPPEUR FULLSTACK ANGULARJS PHP / </span>
          <span class="md-subhead">AppiNest (Paris) - Mars 2016</span>
      </md-card-title>
      <md-card-content>
        <div>
          <span class="md-headline">Descriptif de la mission</span>
          <p class="md-subhead">Réalisation d’une application dédiée aux parents pour la gestion des tâches au quotidien des enfants sous forme de gamification.</p>
        </div>
        <div>
          <span class="md-headline">Tâches effectuées</span>
          <ul>
            <li>
              <span>Réalisation du CRUD en PHP avec API REST</span>
            </li>
            <li>
              <span>Réalisation de l’application frontend avec AngularJS</span>
            </li>
          </ul>
        </div>
        <div>
          <div class="md-headline chip">Environnement technique</div>
          <md-chip-list class="chip">
            <md-chip>AngularJS</md-chip>
            <md-chip>Javascript</md-chip>
            <md-chip>PHP</md-chip>
            <md-chip>HTML5</md-chip>
            <md-chip>CSS3</md-chip>
            <md-chip>MySQL</md-chip>
            <md-chip>REST</md-chip>
          </md-chip-list>
        </div>
      </md-card-content>
    </md-card>

    <md-card class="bgd-silver">
      <md-card-title>
          <span class="md-title">TRAFFIC MANAGER - CHARGE DE COMMUNICATION DIGITALE / </span>
          <span class="md-subhead">Bayard (Montrouge) - Mai 2006 à Septembre 2015</span>
      </md-card-title>
      <md-card-content>
        <div>
          <div>
            <span class="md-headline">Analytics, Acquisition</span>
            <ul>
              <li>
                <span>Élaboration et déploiement d'outils de reporting (AT Internet – Google Analytics)</span>
              </li>
              <li>
                <span>Création, pilotage et amélioration de campagnes</span>
              </li>
              <li>
                <span>Référencement payant (Adwords), recommandation de contenu (Outbrain)</span>
              </li>
              <li>
                <span>Sponsoring de contenu (Facebook Ad)</span>
              </li>
              <li>
                <span>Retargetting de contenu (Critéo)</span>
              </li>
            </ul>
          </div>
          <div>
            <span class="md-headline">SEO</span>
            <ul>
              <li>
                <span>Gestion d'un audit pour l'amélioration du référencement naturel du site.</span>
              </li>
              <li>
                <span>Gestion de projet formation pour le déploiement des pratiques SEO-friendly dans la rédaction.</span>
              </li>
              <li>
                <span>Retargetting de contenu (Critéo)</span>
              </li>
            </ul>
          </div>
          <div>
            <span class="md-headline">Réseaux sociaux - Community management</span>
            <ul>
              <li>
                <span>Création des pages Facebook et Google+ du quotidien.</span>
              </li>
              <li>
                <span>Gestion partagée des pages Facebook – Twitter – Google +</span>
              </li>
              <li>
                <span>Campagnes et opérations spéciales de recrutement de fans Facebook</span>
              </li>
            </ul>
          </div>
          <span class="md-headline">Relations Presse</span>
          <ul>
            <li>
              <span>Définition et mise en oeuvre de la stratégie médias de la marque (relations presse, partenariats médias, création d'outils de communication, ...).</span>
            </li>
          </ul>
        </div>
        <div>
          <span class="md-headline">Digital</span>
          <ul>
            <li>
              <span>Définition et mise en oeuvre d'une stratégie de communication médias digitale.</span>
            </li>
          </ul>
        </div>
      </md-card-content>
    </md-card>


  </md-tab>

  <md-tab>
    <ng-template md-tab-label>
      FORMATION
    </ng-template>

    <md-card class="bgd-silver">
      <md-card-title>
        <span class="md-title">M2I FORMATIONS - Bordeaux</span>
        <span class="md-subhead">Déc. 2018 à Mars 2019</span>
      </md-card-title>
      <md-card-content>
        <div>
          <span class="md-headline">Développeur .NET</span>
          <p class="md-subhead">Développement Fullstack en C# avec le framework Microsoft .NET.</p>
        </div>
      </md-card-content>
    </md-card>

    <md-card class="bgd-silver">
      <md-card-title>
          <span class="md-title">L’ÉCOLE MULTIMÉDIA - Paris</span>
          <span class="md-subhead">Sept. 2015 à Mars 2016</span>
      </md-card-title>
      <md-card-content>
        <div>
          <span class="md-headline">Développeur Fullstack</span>
          <p class="md-subhead">Développement web et Intégration web, responsive web design, structures sémantiques. Apprentissage de HTML5 CSS3 PHP MySQL Javascript jQuery Bootstrap Wordpress...</p>
        </div>
      </md-card-content>
    </md-card>
    <md-card class="bgd-silver">
      <md-card-title>
          <span class="md-title">ISIC-IUP - Bordeaux</span>
          <span class="md-subhead">2003 - 2004</span>
      </md-card-title>
      <md-card-content>
        <div>
          <span class="md-headline">Maîtrise en Sciences de l'Information et de la Communication</span>
        </div>
      </md-card-content>
    </md-card>
    <md-card class="bgd-silver">
      <md-card-title>
        <span class="md-title">BACCALAUREAT SCIENTIFIQUE (mention AB)</span>
        <span class="md-subhead">1998</span>
      </md-card-title>
      <md-card-content>
        <div>
          <span class="md-headline">Maîtrise en Sciences de l'Information et de la Communication</span>
        </div>
      </md-card-content>
    </md-card>
  </md-tab>

  <md-tab>
    <ng-template md-tab-label>
      COMPETENCES
    </ng-template>

    <md-list>
      <h3 class="md-no-sticky">Compétences techniques et fonctionnelles</h3>
      <md-list-item>
        <p>Langages</p>
        <span>Javascript (ES6) - C# - SQL</span>
        <md-icon>check</md-icon>
      </md-list-item>
      <md-list-item>
        <p>Frameworks Frontend</p>
        <span>Angular</span>
        <md-icon>check</md-icon>
      </md-list-item>
      <md-list-item>
        <p>Autre Frameworks</p>
        <span>.NET</span>
        <md-icon>check</md-icon>
      </md-list-item>
      <md-list-item>
        <p>Web</p>
        <span>HTML5 - CSS3 - Sass - Bootstrap - Foundation - Angular Material</span>
        <md-icon>check</md-icon>
      </md-list-item>
      <md-list-item>
        <p>Versionning</p>
        <span>GIT</span>
        <md-icon>check</md-icon>
      </md-list-item>
      <md-list-item>
        <p>Autres Outils</p>
        <span>Gulp - Firebase - Heroku - Openlayers</span>
        <md-icon>check</md-icon>
      </md-list-item>
    </md-list>
  </md-tab>
</md-tab-group>
