<md-tab-group class="main">
  <md-tab>

    <ng-template md-tab-label>
      ACCUEIL
    </ng-template>

    <h2>Jean-Baptiste Charrier</h2>
    <h3>Développeur Frontend Angular (actuellement @Digital&You)</h3>
    <div style="margin: 26px 0">
      <!--<p style="margin: 0; font-style: italic">Je suis disponible pour des missions longue durée en régie dans le cadre de mon agence <a href="https://digitalandyou.com/" style="text-decoration: none">Digital&You</a>.</p>-->
      <p style="margin: 0; font-style: italic">J'ai suivi une formation intensive en AngularJS et plus généralement en Javascript au sein de Garage56 (<a
        href="http://www.garage56.fr/" style="text-decoration: none" target="_blank">garage56.fr</a> - centre de formation de l'agence <a href="https://digitalandyou.com/" style="text-decoration: none" target="_blank">Digital&You</a>).</p>
    </div>
    <div>
      <h4>Mes spécialités</h4>
      <ul>
        <li>AngularJS et Angular</li>
        <li>Javascript (ES5/ES6)</li>
      </ul>
    </div>
    <div>
      <h4>Outils</h4>
      <ul>
        <li>GulpJS</li>
        <li>Sass</li>
        <li>Git</li>
        <li>Bootstrap / Foundation / Angular Material</li>
        <li>NodeJS (notions)</li>
      </ul>
    </div>
    <div class="social-medias">
      <h4>Retrouvez-moi aussi ici</h4>
      <span>
        <a href="https://twitter.com/jbcharrier" target="_blank">
          <img src="../../assets/img/logo_twitter.png" alt="logo twitter">
        </a>
      </span>
      <span>
        <a href="https://www.linkedin.com/in/jean-baptiste-charrier-56352241/" target="_blank">
          <img src="../../assets/img/logo_linkedin.png" alt="logo linkedin">
        </a>
      </span>
      <span>
        <a href="https://github.com/jbcharrier" target="_blank">
          <img src="../../assets/img/logo_github.png" alt="logo github">
        </a>
      </span>
    </div>
    <div class="contact">
      <h4>Contact</h4>
      <div>
        <md-icon>email</md-icon>
        <span>jbcharrier@gmail.com</span>
      </div>
      <div>
        <md-icon>phone_android</md-icon>
        <span>06.67.51.62.42</span>
      </div>
      <div>
        <md-icon>location_on</md-icon>
        <span>Paris - 18e arr.</span>
      </div>
    </div>
  </md-tab>

  <md-tab>
    <ng-template md-tab-label>
      PARCOURS
    </ng-template>
    <md-card>
      <md-card-title>
        <span class="md-title">DÉVELOPPEUR FRONT ANGULARJS</span>
        <span class="md-subhead">YusoFleet - Nov.2016 à Fév. 2017</span>

      </md-card-title>
      <md-card-content>
        <div>
          <span class="md-headline">Descriptif de la mission</span>
          <p class="md-subhead">Développement d’une application de gestion de courses véhiculées (VTC, livraison, ...) avec géolocalisation et en lien avec une API Rest.</p>
        </div>
        <div>
          <span class="md-headline">Tâches effectuées</span>
          <ul>
            <li>
              <span>Création du frontend avec Angular 1.6 pour la partie Livraison de l’application.</span>
            </li>
            <li>
              <span>Développement de la partie paiement de l’application avec Stripe et Adyen.</span>
            </li>
            <li>
              <span>Création des Wireframes et travail sur l’UX de l’application. Intégration avec Angular Material.</span>
            </li>
          </ul>
        </div>
        <div>
          <div class="md-headline chip">Environnement technique</div>
          <md-chip-list>
            <md-chip>AngularJS</md-chip>
            <md-chip>Javascript</md-chip>
            <md-chip>Angular Material</md-chip>
            <md-chip>Gulp</md-chip>
            <md-chip>NPM</md-chip>
            <md-chip>Adyen</md-chip>
            <md-chip>Stripe</md-chip>
            <md-chip>Git</md-chip>
          </md-chip-list>
        </div>
      </md-card-content>
    </md-card>

    <md-card class="bgd-silver">
      <md-card-title>
          <span class="md-title">DÉVELOPPEUR FRONT ANGULARJS</span>
          <span class="md-subhead">Digital & You - Mai 2016 à Oct. 2016</span>
      </md-card-title>
      <md-card-content>
        <div>
          <span class="md-headline">Descriptif de la mission</span>
          <p class="md-subhead">Création d'une application de test des candidats, avec IDE intégré permettant de réaliser des exercices de code directement dans le navigateur et interface d'admin permettant de comparer les résultats des candidats.</p>
        </div>
        <div>
          <span class="md-headline">Tâches effectuées</span>
          <ul>
            <li>
              <span>Création du frontend avec Angular 1.5 permettant aux candidats de passer leurs tests</span>
            </li>
            <li>
              <span>Création de l’application d’administration de la plateforme avec Angular 1.5</span>
            </li>
            <li>
              <span>Mise en place d'une base de données MongoDB relationnelle pour stocker les tests, les candidats, et les résultats</span>
            </li>
            <li>
              <span>Création d'un serveur d'authentification OAUTH2 en NodeJS permettant l'authentification avec LinkedIn</span>
            </li>
            <li>
              <span>Création de plusieurs micro-services en NodeJS: calcul des résultats des tests QCM des candidats, compilation du code des candidats et vérification des résultats, scrapper de CV pour récupérer les données linkedIn des candidats</span>
            </li>
          </ul>
        </div>
        <div>
          <div class="md-headline chip">Environnement technique</div>
          <md-chip-list>
            <md-chip>AngularJS</md-chip>
            <md-chip>Javascript</md-chip>
            <md-chip>Foundation</md-chip>
            <md-chip>Gulp</md-chip>
            <md-chip>NPM</md-chip>
            <md-chip>Sass</md-chip>
            <md-chip>MongoDB</md-chip>
            <md-chip>NodeJS</md-chip>
          </md-chip-list>
        </div>
      </md-card-content>
    </md-card>

    <md-card class="bgd-silver">
      <md-card-title>
          <span class="md-title">DÉVELOPPEUR PHP PRESTASHOP WP</span>
          <span class="md-subhead">ScrollCom - Avril - Mai 2016</span>
      </md-card-title>
      <md-card-content>
        <div>
          <span class="md-headline">Descriptif de la mission</span>
          <p class="md-subhead">Réalisation de prestations pour le compte de clients de l’entreprise : création de site internet, intervention de maintenance, intégration, etc.</p>
        </div>
        <div>
          <span class="md-headline">Tâches effectuées</span>
          <ul>
            <li>
              <span>Réalisation en wordpress d’une boutique de vente en ligne et site vitrine pour un créateur de sac à main ( http://www.laboutiquedamienbeal.com/ ) avec intégration du CSS, et personnalisation de modules et mise en place de la boutique (BDD, paiement en ligne, etc.)</span>
            </li>
            <li>
              <span>Travaux sur le site https://www.timdecomob.com/fr/ (Optimisation du SEO, intégration CSS, modifications du javascript)</span>
            </li>
          </ul>
        </div>
        <div>
          <div class="md-headline chip">Environnement technique</div>
          <md-chip-list>
            <md-chip>WordPress</md-chip>
            <md-chip>Prestashop</md-chip>
            <md-chip>Bootstrap</md-chip>
            <md-chip>HTML5</md-chip>
            <md-chip>CSS3</md-chip>
            <md-chip>SEO</md-chip>
          </md-chip-list>
        </div>
      </md-card-content>
    </md-card>

    <md-card class="bgd-silver">
      <md-card-title>
          <span class="md-title">DÉVELOPPEUR FULLSTACK ANGULARJS PHP</span>
          <span class="md-subhead">AppiNest - Mars 2016</span>
      </md-card-title>
      <md-card-content>
        <div>
          <span class="md-headline">Descriptif de la mission</span>
          <p class="md-subhead">Réalisation d’une application dédiée aux parents pour la gestion des tâches au quotidien des enfants sous forme de gamification.</p>
        </div>
        <div>
          <span class="md-headline">Tâches effectuées</span>
          <ul>
            <li>
              <span>Réalisation du CRUD en PHP avec API REST</span>
            </li>
            <li>
              <span>Réalisation de l’application frontend avec AngularJS</span>
            </li>
          </ul>
        </div>
        <div>
          <div class="md-headline chip">Environnement technique</div>
          <md-chip-list class="chip">
            <md-chip>AngularJS</md-chip>
            <md-chip>Javascript</md-chip>
            <md-chip>PHP</md-chip>
            <md-chip>HTML5</md-chip>
            <md-chip>CSS3</md-chip>
            <md-chip>MySQL</md-chip>
            <md-chip>REST</md-chip>
          </md-chip-list>
        </div>
      </md-card-content>
    </md-card>

    <md-card class="bgd-silver">
      <md-card-title>
          <span class="md-title">CHARGÉ DE COMMUNICATION MULTIMÉDIA</span>
          <span class="md-subhead">Bayard - Mai 2006 à Septembre 2015</span>
      </md-card-title>
      <md-card-content>
        <div>
          <span class="md-headline">Relations Presse</span>
          <ul>
            <li>
              <span>Définition et mise en oeuvre de la stratégie médias de la marque (relations presse, partenariats médias, création d'outils de communication, ...).</span>
            </li>
          </ul>
        </div>
        <div>
          <span class="md-headline">Digital</span>
          <ul>
            <li>
              <span>Définition et mise en oeuvre d'une stratégie de communication médias digitale.</span>
            </li>
          </ul>
        </div>
        <div>
          <span class="md-headline">Analytics, Acquisition</span>
          <ul>
            <li>
              <span>Élaboration et déploiement d'outils de reporting (AT Internet – Google Analytics)</span>
            </li>
            <li>
              <span>Création, pilotage et amélioration de campagnes</span>
            </li>
            <li>
              <span>Référencement payant (Adwords), recommandation de contenu (Outbrain)</span>
            </li>
            <li>
              <span>Sponsoring de contenu (Facebook Ad)</span>
            </li>
            <li>
              <span>Retargetting de contenu (Critéo)</span>
            </li>
          </ul>
        </div>
        <div>
          <span class="md-headline">SEO</span>
          <ul>
            <li>
              <span>Gestion d'un audit pour l'amélioration du référencement naturel du site.</span>
            </li>
            <li>
              <span>Gestion de projet formation pour le déploiement des pratiques SEO-friendly dans la rédaction.</span>
            </li>
            <li>
            <span>Retargetting de contenu (Critéo)</span>
            </li>
          </ul>
        </div>
        <div>
          <span class="md-headline">Réseaux sociaux - Community management</span>
          <ul>
            <li>
              <span>Création des pages Facebook et Google+ du quotidien.</span>
            </li>
            <li>
              <span>Gestion partagée des pages Facebook – Twitter – Google +</span>
            </li>
            <li>
              <span>Campagnes et opérations spéciales de recrutement de fans Facebook</span>
            </li>
          </ul>
        </div>
      </md-card-content>
    </md-card>


  </md-tab>








  <md-tab>
    <ng-template md-tab-label>
      <!--<md-icon>thumb_down</md-icon> The worst sushi-->
      FORMATION
    </ng-template>

    <md-card class="bgd-silver">
      <md-card-title>
          <span class="md-title">L’ÉCOLE MULTIMÉDIA - Paris</span>
          <span class="md-subhead">Sept. 2015 à Mars 2016</span>
      </md-card-title>
      <md-card-content>
        <div>
          <span class="md-headline">Développeur Fullstack</span>
          <p class="md-subhead">Développement web et Intégration web, responsive web design, structures sémantiques. Apprentissage de HTML5 CSS3 PHP MySQL Javascript jQuery Bootstrap Wordpress...</p>
        </div>
      </md-card-content>
    </md-card>
    <md-card class="bgd-silver">
      <md-card-title>
          <span class="md-title">ISIC-IUP - Bordeaux</span>
          <span class="md-subhead">2003 - 2004</span>
      </md-card-title>
      <md-card-content>
        <div>
          <span class="md-headline">Maîtrise en Sciences de l'Information et de la Communication</span>
        </div>
      </md-card-content>
    </md-card>
  </md-tab>


  <md-tab>
    <ng-template md-tab-label>
      COMPETENCES
    </ng-template>

    <md-list>
      <h3 class="md-no-sticky">Compétences techniques et fonctionnelles</h3>
      <md-list-item>
        <p>Langages</p>
        <span>Javascript (ES5 & ES6)</span>
        <md-icon>check</md-icon>
      </md-list-item>
      <md-list-item>
        <p>Frameworks Frontend</p>
        <span>AngularJS - Angular ("2" - Notions)</span>
        <md-icon>check</md-icon>
      </md-list-item>
      <md-list-item>
        <p>Backend</p>
        <span>NodeJS (Notions)</span>
        <md-icon>check</md-icon>
      </md-list-item>
      <md-list-item>
        <p>Web</p>
        <span>HTML5 - CSS3 - Sass - Bootstrap - Foundation - Angular Material</span>
        <md-icon>check</md-icon>
      </md-list-item>
      <md-list-item>
        <p>Bases de donnée</p>
        <span>MongoDB, MySQL</span>
        <md-icon>check</md-icon>
      </md-list-item>
      <md-list-item>
        <p>Versionning</p>
        <span>GIT</span>
        <md-icon>check</md-icon>
      </md-list-item>
      <md-list-item>
        <p>Autres Outils</p>
        <span>Gulp - Webpack - Grunt - Firebase</span>
        <md-icon>check</md-icon>
      </md-list-item>
    </md-list>
  </md-tab>
</md-tab-group>
